.pagination-container {
    display: flex;
    list-style-type: none;
  
    .pagination-item {
      padding: 0 12px;
      height: 32px;
      text-align: center;
      // margin: auto 4px;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      box-sizing: border-box;
      align-items: center;
      letter-spacing: 0.01071em;
      border-radius: 8px;
      line-height: 1.43;
      font-size: 12px;
      min-width: 32px;
      user-select: none;
  
      &.dots:hover {
        background-color: transparent;
        cursor: default;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
        cursor: pointer;
      }
  
      &.selected {
        background-color: rgba(0, 0, 0, 0.08);
        font-weight: bold;
      }
  
      &.disabled {
        pointer-events: none;
        opacity: 50%;
        user-select: none;
        &:hover {
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }