// _reset.scss

// Reset box-sizing to border-box
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hide scroll bar for WebKit browsers */
body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

body::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

// Reset list styles
ul,
ol {
    list-style: none;
}

// Reset anchor styles
a {
    text-decoration: none;
    color: inherit;
}